body {
  overflow-x: hidden;

  margin: 0;
  padding: 0;

  background-color: #212529;
}

.header {
  @media (min-width: 1200px) {
    min-height: 100vh;
  }
}

.aside,
.footer {
  text-align: center;

  color: white;
  background-color: #212529;

  font-size: 40px;
}

.dropdown-menu {
  background-color: #212529;
}

.dropdown-item {
  color: white;
}

.container-fluid {
  margin: 0 auto;
}
