body {
    overflow-x: hidden;
    background-color: #212529;
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
}

.aside,
.footer {
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: #212529;
}
.dropdown-menu {
    background-color: #212529;
}
.dropdown-item {
    color: white;
}
